.title-account {
    text-align: center;
    background-color: rgba(239 , 244 , 248);
    padding: 25px;
}
.title-account h4 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 500;
}


.reset-pass {
  padding: 30px 100px;
}

.reset-pass small {
    margin-bottom: 40px;
    display: inline-block;
    color: rgb(167, 165, 165);
    font-size: 13px;
    font-weight: 300;
}

.reset-pass form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reset-pass form input {
    width: 500px;
    border: 1px solid rgb(210, 208, 208);
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.reset-pass form button {
    display: inline-block;
    width: 200px;
    border: none;
    padding: 15px;
    background-color: rgb(90, 164, 229);
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.reset-pass form button:hover {
   background-color:  #000;
}